@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

@Html.ActionLink("Lista de Artistas", "Index", "Artistas")
<br />
@Html.ActionLink("Lista de Canciones", "Index", "Canciones")
<br />
@Html.ActionLink("Lista de DatosBancarios", "Index", "DatosBancarios")
<br />
@Html.ActionLink("Lista de Usuarios", "Index", "Usuarios")
<br />
@Html.ActionLink("Lista de UsuariosCanciones", "Index", "CancionesUsuarios")
<br />


